<div class = "jumbotron center">
	<p>Med vision att varje barn ska känna:</p>
		<h1>jag <span class="glyphicon glyphicon-heart"></span> min vardag</h1>
		<p class="row spacer"><%= link_to "Börja här", new_user_registration_path, class: "btn btn-primary btn-lg" %> <%= link_to "Logga in", new_user_session_path, class: "btn btn-lg btn-default" %></p>
</div>
 
