<div class = "jumbotron center">

<h1>220 000 barn i fattigdom i Sverige </h1>

<p> Det tycker vi är för många. </p>

<p class = "row spacer"> Problemen till barnfattigdom är många och mångfacetterade. Ofta handlar det om föräldrarnas ekonomiska svårigheter, kanske på grund av sjukdom eller annat som lämnat dem utan arbete. Ofta medför det att barnen inte har möjlighet att göra det som andra barn gör: ha en fritidshobby, vara med på skolresan eller gå på bio någon gång. Vi önskar kunna skapa sådana möjligheter.</p>


</div>