<div class ="jumbotron text-center">

<h1>Min Vardag</h1>
	<p>
		<%= link_to "Klicka här", "www.dn.se", class:"btn btn-primary btn-lg" %> för att hjälpa!
	</p>

</div>
	
	<ul>
		<li>Take on a new challenge</li>
		<li>And just do it!</li>
	</ul>