	<div class = "jumbotron center">
		<p>Med vision att varje barn ska känna:
		
		<h1>jag <span class="glyphicon glyphicon-heart"></span> min vardag</h1>

		<p class="row spacer"><%= link_to "Klicka här", "www.dn.se", class: "btn btn-primary btn-lg" %> om du håller med</p> 

	</div>
