<div class ="jumbotron text-center">
	<span class="glyphicon glyphicon-heart" style="font-size:20px"</span>
	<h1 style="font-family:Cambria">Welcome to Emma's first application!</h1>
	<p>Click here to 
		<%= link_to "SIGN UP", "www.dn.se", class:"btn btn-primary btn-lg" %>
	</p>
</div>
	<ul>
		<li>Take on a new challenge</li>
		<li>And just do it!</li>
	</ul>